body {
    text-align: center;
    font-family: open Sans, sans-serif;
    background-color: #8a71c9;
    color: #ffffff;
    margin: 0px 0px 30px 0px;
}

  @media screen and (max-width: 600px) {
body {
    text-align: center;
    font-family: open Sans, sans-serif;
    background-color: #8a71c9;
    color: #ffffff;
    margin: 0px 0px 30px 0px;
      }
}


button {
    background: #1b02021e;
    border: 1px solid transparent;
    padding: 2px 20px;
    border-radius: 3px;
}
h2 {
    color: white;
    font-size: 30px;
}
.titulo-verde {
    color: white;
}
.titulo-vermelho {
    color: white;
}
.titulo-amarelo {
    color: #ffe36d;
}
section {
    width: 60%;
    margin: 0 auto;
}
  @media screen and (max-width: 600px){
section {
    width: 30%;
    margin: 0 auto;
}

section section {
    width: 100%;
}
      
       @media screen and (max-width: 600px){
section {
      section section {
         width: 50%;
          text-aling:center;
    }
           }
           
    
h1 {
    font-size: 50px;
    font-weight: 300;
}
  @media screen and (max-width: 600px)             
h1 {
    font-size: 20px;
    font-weight: 150;
}
           
h3 {
    font-size: 30px;
    font-style: italic;
}
p {
    font-size: 20px;
    line-height: 1.5;
}
img {
    width: 100%;
           }
    @media screen and (max-width: 600px){  
    img {
    width: 50%;
}
}
ul {
    list-style-type: none;
    line-height: 2;
    padding-left: 0;
}
a {
    text-decoration: none;
    color: #99ffff;
    font-weight: 700;
}
form {
    margin-bottom: 20px;
}
.principal {
    background-color: #ff6cb5;
    height: 40px;
    max-width: 60%;
    margin: 0 auto;
}
.principal a {
    color: #fff;
    text-decoration: underline;
    font-weight: normal;
}
.principal li {
    display: inline-block;
    line-height: 2.5;
    margin: 0 89px;
}
           
  
  @media screen and (max-width: 600px){
.principal li {
    display: none;
    line-height: 1.5;
    margin: 0 40px;
}
